{{ define "main" }}

<h1 class="buffer">{{ .Title }}</h1>

<h3 class="buffer">{{ .Content }} </h3>
<hr>

<h3 class="buffer">interactives</h3>
<div>
    {{ range .Pages.ByDate.Reverse }}
    {{ if eq .Params.rank 0 }}
    <div class="list-grid">
        <div class="simple-list">
            <span class="date">{{ .Date.Format "2006" }}</span>
            <span class="item small">
                <a {{ if .Params.ext_url }} href="{{ .Params.ext_url }}" target="blank" {{ else }} href="{{ .Permalink }}" {{ end }} class="title">{{ .Title }}</a>
                <span style="font-style:oblique">{{ if .Params.collaborators }} with {{ .Params.collaborators }} {{ end }}</span>
            </span>
        </div>
    </div>
    {{ end }}
    {{ end  }}
</div>

<h3 class="buffer">stills</h3>
<div>
    {{ range .Pages.ByDate.Reverse }}
    {{ if eq .Params.rank 1 }}
    <div class="list-grid">
        <div class="simple-list">
            <span class="date">{{ .Date.Format "2006" }}</span>
            <span class="item small">
                <a {{ if .Params.ext_url }} href="{{ .Params.ext_url }}" target="blank" {{ else }} href="{{ .Permalink }}" {{ end }} class="title">{{ .Title }}</a>
                <span style="font-style:oblique">{{ if .Params.collaborators }} with {{ .Params.collaborators }} {{ end }}</span>
            </span>
        </div>
    </div>
    {{ end }}
    {{ end  }}
</div>

<h3 class="buffer">archive <span id="warn-hover">⚠</span></h3>
<script>
    let e = document.getElementById('warn-hover');
    e.onmouseover = function() {
      document.getElementById('warning').style.display = 'block';
    }
    e.ontouchstart = function() {
      document.getElementById('warning').style.display = 'block';
    }
    e.onmouseout = function() {
      document.getElementById('warning').style.display = 'none';
    }
    e.ontouchend = function() {
      document.getElementById('warning').style.display = 'none';
    }
</script>
<code id="warning" style="display:none;" class="small">proceed with caution; this stuff doesn't work well on mobile</code>
<div>
    {{ range .Pages.ByDate.Reverse }}
    {{ if eq .Params.rank 2 }}
    <div class="list-grid">
        <div class="simple-list">
            <span class="date">{{ .Date.Format "2006" }}</span>
            <span class="item small">
                <a {{ if .Params.ext_url }} href="{{ .Params.ext_url }}" target="blank" {{ else }} href="{{ .Permalink }}" {{ end }} class="title">{{ .Title }}</a>
                <span style="font-style:oblique">{{ if .Params.collaborators }} with {{ .Params.collaborators }} {{ end }}</span>
            </span>
        </div>
    </div>
    {{ end }}
    {{ end  }}
</div>

{{ end }}